.MyWidget {
    border-radius: 20px;
    height: 100%;
    max-width:50vh;
}

.card{
    border: 3px solid #000;
    border-top: 0;
    border-radius: 0 0 20px 20px;
    height: 50vh;
}


.MyWidget h2{
    border-radius: 20px 20px 0 0;
    color: #fff;
    margin: 0;
    padding: 10px 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Img{
    height: 50%;
    max-width:100%;
}

.Date{
    display: flex;
    justify-content: flex-end;
    bottom: 0;
}